
<a name="location"></a>
<div id="googleMap"></div>
<div class="container">
<a name='about'></a>
  <h3 class="text-center">{{ ::$ctrl.address }}</h3>
  <p class="text-center">{{ ::$ctrl.locations }}</p>

  <div class="row">
    <div class="col-md-12">
      <p class="text-center">{{ ::$ctrl.contact }}</p>
      <p class="text-center"><span class="glyphicon glyphicon-map-marker"></span>{{ ::$ctrl.cities }}</p>
      <p class="text-center"><span class="glyphicon glyphicon-phone"></span>{{ ::$ctrl.phone }}</p>
      <p class="text-center"><span class="glyphicon glyphicon-envelope"></span>{{ ::$ctrl.email }}</p>
    </div>

  </div>
  </div>