

 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="https://github.com/imranhabib/FurryFiesta" target="_blank">
        <img alt="Brand" src="{{ $ctrl.icon }}">
      </a>
    </div>
      <a class="navbar-brand" href="#">{{ ::$ctrl.storeName }}</a>
      <ul class="nav navbar-nav navbar-right">
      <a class="navbar-brand" href="#location">{{ ::$ctrl.location }}</a>
      <a class="navbar-brand" href="#invent">{{ ::$ctrl.inventory }}</a>
      <a class="navbar-brand" href="#search">{{ ::$ctrl.search }}</a>
      <a class="navbar-brand" href="#sell">{{ ::$ctrl.sell }}</a>
      <a class="navbar-brand" href="#about">{{ ::$ctrl.about }}</a>
      </ul>
    </div>
<div class="jumbotron text-center">
  </div>

